body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
	padding: 1em 0 8em;
	text-align: center;
  
	/* the background-color will be set with JavaScript */

	/* make background color changes fade */
  -webkit-transition: background 2s;
     -moz-transition: background 2s;
       -o-transition: background 2s;
          transition: background 2s;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2em;
}

a {
	/* color taken from the Twilio logo */
	color: #FF0026;
}

.box {
	float: left;
}

.mail {
	width: 100px;
	padding: 35px 0px 0px 0px;
}

.arrow {
  width: 100px;
  padding: 0px 10px 20px 10px;
}

.highlight {
  background: white;
  background: rgba(255, 255, 255, 0.7);
}

.demo-container {
  margin: 1em;	
  border-radius: 1em;
  display: inline-block;
  padding: 1em;
  width: 800px;
}

.demo-container-box {
  display: inline-block;
  margin: 0 auto;
}

.text-container {
  display: inline-block;
  padding: 1em;
  border-radius: 1em;
  float: bottom;
  width: 800px;
}

.requester-list {
  list-style: none;
}

.requester-list div:nth-child(even) {
  background: rgba(255, 255, 255, 0.3);
}

.requester-list div:nth-child(odd) {
  background: rgba(235, 235, 235, 0.3);
}

.text-footer {
  margin: 4px 0px 0px 0px;
}

.text-container div {
  margin: 0 auto;
}
.text-container:after {
  clear: both;
  content: '';
  display: block;
}

.image {
  margin: 1em;	
  width: 640px;
}

.player {
  margin: 1em;
  width: 640px;
}
footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
}
